@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}



footer {
	padding-top:10px;
	text-align: center;
	border-top: 2px solid #000;
}


iframe {
	align: middle;
}


#content {
	text-align: left;
	font-family: 'Raleway', sans-sefir;
	font-size: 125%;
}

#content_head {
	text-align: center;
	font-family: 'Raleway', sans-sefir;
}

.question {
	padding-bottom: 30px;
}

h5 {
	text-align: left;
	font-family: 'Raleway', sans-sefir;
}


.answerCorrect {
	background-color: lightgreen;
}


.answerWrong
{
	background-color: #c9302c;
}

/* Input field */
input{

  margin: 0.3em 0 0 0;
  padding: 0.3em .3em 0.3em 0.5em;
  /* width: calc(100% - 2em); */
  border: none;
  background: transparent;
  background-color: #DCDCDC;
 
}

input:focus{
  outline: none;


}

/*Css for Draggables*/

.ui-draggable{
	background-color: #DCDCDC;
	text-align: center;
	border: 1px solid lightgray;
	border-radius: 10px;

	
}

.blankbox{
	text-align: center;
}




/*for blackboard*/

textarea{
	width: 100%;
	height: 450px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 2px;
	background-color: #f8f8f8;
	resize: none;
	
}

#textfield {
	width: 100%;
	height: 450px;
	padding: 12px 20px;
	
}





